 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/vcvv-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 815px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 770px;
  text-transform: uppercase;
  margin: 208px auto 0;
}

.u-section-1 .u-text-2 {
  width: 770px;
  margin: 34px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  margin-top: 2px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  align-self: center;
  margin: 46px auto 0;
  padding: 10px 63px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  width: 307px;
  margin: 122px auto 60px;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 672px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.25rem;
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 811px;
}

.u-section-2 .u-image-1 {
  width: calc(((100% - 1140px) / 2) + 800px);
  left: 0;
  right: auto;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto auto;
  width: 635px;
  height: auto;
  margin: 57px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 23px 23px;
  min-height: 640px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 27px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 27px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  margin: 27px calc(((100% - 1140px) / 2)) 51px calc(((100% - 1140px) / 2) + 833px);
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 697px;
  }

  .u-section-2 .u-list-1 {
    width: 519px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 633px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 928px;
  }

  .u-section-2 .u-image-1 {
    width: 576px;
  }

  .u-section-2 .u-list-1 {
    width: 448px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 60px;
    margin-left: calc(((100% - 720px) / 2) + 413px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1140px;
  }

  .u-section-2 .u-image-1 {
    width: 555px;
    height: 501px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 0;
  }

  .u-section-2 .u-list-1 {
    width: 390px;
    margin-top: -186px;
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2) + 233px);
    margin-bottom: 50px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1031px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 307px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: -71px;
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    margin: 34px calc(((100% - 340px) / 2) + 33px) -10px calc(((100% - 340px) / 2));
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 618px;
}

.u-section-3 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 59px auto 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-3 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  width: 680px;
  margin: 20px auto 59px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-3 .u-video-1 {
    height: 300px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-3 .u-video-1 {
    height: 190px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-bottom: 60px;
  }
}